@model MusicLibrary.Models.AlbumViewModel

@{
    ViewBag.Title = Model.AlbumName;
}

<h2>@Html.DisplayFor(modelItem=> Model.AlbumName) by @Html.DisplayFor(modelItem => Model.ArtistName)</h2>

<p>
    @Html.ActionLink("Add Songs to " + Model.AlbumName, "Create",new { ArtistID = Model.ArtistID, AlbumID = Model.AlbumID})
</p>
<table class="table">
    <tr>
        <th>
            Track Name
        </th>
        <th>
            Track
        </th>
        <th>
            Album Name
        </th>
        <th>
            Genre
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.SongList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.GenreName)
            </td>
            <td>
               @Html.ActionLink("Edit", "AlbumEdit", new { id = item.SongID }, new { @class = "btn btn-primary" })
               @Html.ActionLink("Delete", "AlbumDelete", new { id = item.SongID }, new { @class = "btn btn-primary btn-danger" })
            </td>
        </tr>
    }

</table>
