@model MusicLibrary.Models.SongsViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.AlbumName)

        @Html.HiddenFor(model => model.ArtistName)
        <dt>
            Track Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackName)
        </dd>

        <dt>
            Track Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackNumber)
        </dd>

        <dt>
            Album
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt>
            Artist
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>

        <dt>
            Genre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary btn-danger" /> |
            @Html.ActionLink("Back to List", "AlbumIndex", new { AlbumName = Model.AlbumName, ArtistName = Model.ArtistName })
        </div>
    }
</div>
