@model MusicLibrary.Models.SongsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.AlbumName)
        <dt>
            Track Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackName)
        </dd>

        <dt>
            Track Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackNumber)
        </dd>

        <dt>
            Album
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt>
            Artist
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>

        <dt>
            Genre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "AlbumEdit", new { id = Model.SongID }) |
    @Html.ActionLink("Back to List", "AlbumIndex", new { AlbumName = Model.AlbumName })
</p>
