@model MusicLibrary.Models.AlbumViewModel

@{
    ViewBag.Title = Model.AlbumName;
}

<h2>Songs</h2>

<table class="table">
    <tr>
        <th>
            Track Name
        </th>
        <th>
            Track
        </th>
        <th>
            Album Name
        </th>
        <th>
            Genre
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.SongList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
               @Html.ActionLink("Edit", "Edit", new { id = item.SongID }, new { @class = "btn btn-primary" })
               @Html.ActionLink("Details", "Details", new { id = item.SongID }, new { @class = "btn btn-success" })
               @Html.ActionLink("Delete", "Delete", new { id = item.SongID }, new { @class = "btn btn-primary btn-danger" })
            </td>
        </tr>
    }

</table>
