@model MusicLibrary.Models.SongsViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add Song</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.TrackName, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrackName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrackName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ArtistName, "Artist", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.ArtistID, Model.ArtistNames, "---Select an Artist---", new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.ArtistName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Add an Artist", "Create","artist")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlbumName, "Album", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.AlbumID, Model.AlbumNames, "---Select an Album---", new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.AlbumName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6" id="AlbumSuggestion">
                @Html.ActionLink("Add new Album","NewSongCreate","album")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrackNumber, "Track Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrackNumber,  new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrackNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenreName, "Genre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.GenreID, Model.GenreNames, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.GenreName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Add a Genre", "NewSongCreate", "genre")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/PathFinder")
}
