@model IEnumerable<MusicLibrary.Models.SongsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Download Report(pdf)", "Report")
</p>
<table class="table">
    <tr>
        <th>
            Track
        </th>
        <th>
            Track Number
        </th>
        <th>
            Album
        </th>
        <th>
            Artist        
        </th>
        <th>
            Genre
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrackName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrackNumber)
        </td>
        <td>
            @Html.ActionLink(item.AlbumName, "AlbumIndex", new { AlbumName = item.AlbumName })
        </td>
        <td>
            @Html.ActionLink(item.ArtistName, "ArtistIndex", new { ArtistName = item.ArtistName })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SongID}, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id = item.SongID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Delete", "Delete", new { id = item.SongID }, new { @class = "btn btn-primary btn-danger" })
        </td>
    </tr>
}

</table>
