@model IEnumerable<MusicLibrary.Models.SongsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Track Name
        </th>
        <th>
            Track Number
        </th>
        <th>
            Album Name
        </th>
        <th>
            Artist        
        </th>
        <th>
            Genre Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrackName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrackNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumName)
        </td>
        <td>
            @Html.ActionLink(item.ArtistName, "ArtistIndex", new { ArtistName = item.ArtistName })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SongID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SongID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SongID })
        </td>
    </tr>
}

</table>
