@model MusicLibrary.Models.AlbumViewModel

    @{
        ViewBag.Title = "Create";
    }

        <h2>Add Album</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.AlbumName, "Album", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AlbumName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlbumName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ArtistName, "Artist", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model=>model.ArtistID, Model.ArtistNames, "---Select an Artist---", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ArtistName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.GenreName,"Genre", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.GenreID, Model.GenreNames, "---Select a Genre---",htmlAttributes: new { @class = "form-control" } )
                        @Html.ValidationMessageFor(model => model.GenreName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Add a Genre", "NewSongCreate", "genre")
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default btn-success" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Album List", "Index")
        </div>