@model MusicLibrary.Models.Music

@{
    ViewBag.Title = Model.Artist;
}
<h2>Model.Artist</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Song)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th></th>
    </tr>
    <tr>
        for 
        <td>@Html.DisplayFor(model => model.Album)</td>
        <td>@Html.DisplayFor(model => model.Song)</td>
        <td>@Html.DisplayFor(model => model.TrackNumber)</td>
        <td>@Html.DisplayFor(model => model.Genre)</td>   
    </tr>


   

</table>


